/* INFO Reset */

* {
	background: none;
	border: none;
	color: inherit;
	font: inherit;
	line-height: normal;
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: inherit;
}

/* NOTE Remove extra space inside buttons in Firefox */
*:-moz-focus-inner {
    border: none;
    padding: 0;
}

/* INFO General */

body {
	font-family: 'CallunaSansLight-Regular';
	width: 100%;
	min-width: 80em;
	background: #fffdf5;
	color: #444440;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'CallunaLight-Regular';
	font-weight: normal;
	margin: 1em 0;
}
h1 {
	font-size: 2em;
	margin-bottom: 0em;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.25em;
}

/* INFO Form elements */

button, .Button {
	cursor: pointer;
}

button {
	font-size: 1.125em;
	margin: 1em 0;
}

button> img {
	height: 1em;
	width: 1em; /* FIX SVG size in IE */
	vertical-align: middle;
}
button> img.Throbber {
	display: none;
}
button:disabled> img {
	display: none;
}
button:disabled> img.Throbber {
	display: inline-block;
	-moz-animation: Spin 3s linear infinite;
	-ms-animation: Spin 3s linear infinite;
	-o-animation: Spin 3s linear infinite;
	-webkit-animation: Spin 3s linear infinite;
	animation: Spin 3s linear infinite;
}

textarea,
select,
input[type=text],
input[type=password],
input[type=email] {
	-webkit-appearance:none;
	background: rgba(0,0,0,0.025);
	border: 0.0625rem solid #444440;
	border-radius: 0.25rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0.125em 0.25em;
	width: 100%;
}

input:-webkit-input-placeholder {
	color: inherit;
	opacity: 0.4;
	font-style: italic;
}
input:focus:-webkit-input-placeholder {
	opacity: 0.2;
}
input:-moz-placeholder {
	color: inherit;
	opacity: 0.4;
	font-style: italic;
}
input:focus:-moz-input-placeholder {
	opacity: 0.2;
}
input:-ms-input-placeholder {  
	color: inherit;
	opacity: 0.4;
	font-style: italic;
}
input:focus:-ms-input-placeholder {
	opacity: 0.2;
}

/* Generic inline styles */



/* INFO Layout */

header {
	background-color: #f58b77;
	padding: 2em 0;
	width: 100%;
	border-bottom: 0.0625rem solid rgba(0,0,0,0.25);
}

header h1 {
	margin-left:1em;
}

body > div {
	padding: 2em;
}
body > div > div,
body > div > form,
body > div > div > form{
	margin-bottom: 2em;
}
body #SignUpSignIn {
	float:left;
	width: 16em;
}
body #Address {
	float:left;
}
body #Contact {
	float:left;
}
body #Addressbook {
	float:left;
}
body form {
	display: table;
	width: 100%;
}
body form > div {
	display: table-row;
}
body form > div label,
body form > div input{
	display: table-cell;
	min-width: 7.5em;
	vertical-align: middle;
	margin: 0.125em 0;
}
body form > div input {
	float:right;
	border: 0.0625rem solid #444440;
	border-radius: 0.25rem;
	background: transparent;
}

textarea {
	width: 99%;
	height: 25em;
	resize: vertical;
}
select {
	width: 100%;
}

div#Crypto {
	clear:both;
	min-width: 30em;
	background: #fff9e6;
	border-top: 0.0625rem solid rgba(0,0,0,0.25);
}
div#Crypto form#TestCryptoFacility {
	width:100%;
}
div#Crypto form#TestCryptoFacility div {
	display:block !important;
}
div#Crypto form#TestCryptoFacility div textarea {
	margin-top: 1em;
}

#Account, #Address, #Contact, #Addressbook {
	display: none;
}

.hidden {
	display: none !important;
}
